

.dash-header{
   height: 70px;
}

.sidebar-and-main-container{
   height: calc(100vh - 70px);
   background-color: red;
}

.w-40{
   width: 40%;
}

.sidebar{
   background-color: #051E34;
   height: calc(100vh - 70px);
}

.main{
   background-color: antiquewhite;
   height: calc(100vh - 70px);
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;
}

.main::-webkit-scrollbar {
   display: none;
 }

.dash-header{
   background-color: #F8F9FA;
}

.big-logo{
   height: 35px;
}

.small-logo{
   height: 40px;
   width: 40px;
}

.upper{
   background-color: #1A73E8;
}

.pill-color{
   background-color: #155CBA;
}

.class-avatar{
   height: 30px;
   width: 30px;
}

.main-bottom{
   width: 98%;
   margin: 0 auto;
}



@media screen and (max-width: 576px){
   .sidebar{
      width: 48px;
   }

   .main{
      height: calc(100vh - 70px);
      width: calc(100% - 48px);
   
   }
}


@media screen and (min-width: 992px){
   .sidebar{
      width: 160px;
   }

   .main{
      height: calc(100vh - 70px);
      width: calc(100% - 160px);
   
   }
}
