

.dash-header{
   height: 70px;
}

.dropdown-toggle::after{
   display: none;
}

.sidebar-and-main-container{
   height: calc(100vh - 70px);
}

.w-40{
   width: 30%;
}

.sidebar{
   background-color: #051E34;
   height: calc(100vh - 70px);
   background-image: url(../img/sidebar-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.sidebar-hover:hover{
   background-color: rgba(255, 255, 255, 0.2);
}

.main{
   background-color: #FFFFFF;
   height: calc(100vh - 70px);
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.main::-webkit-scrollbar {
   display: none;
 }

.dash-header{
   background-color: #F8F9FA;
}

.upper{
   background-color: #1A73E8;
}

.pill-color{
   background-color: #155CBA;
}

.pill-hover:hover{
   background-color: #103a70;
}

.class-avatar{
   height: 30px;
   width: 30px;
}

.main-bottom{
   width: 98%;
   margin: 0 auto;
}

.offcanvas.offcanvas-end{
   width: 100%;
}




@media screen and (max-width: 576px){
   .sidebar{
      width: 48px;
   }

   .main{
      height: calc(100vh - 70px);
      width: calc(100% - 48px);
   
   }
}


@media screen and (min-width: 992px){
   .sidebar{
      width: 160px;
   }

   .main{
      height: calc(100vh - 70px);
      width: calc(100% - 160px);
   
   }

   .offcanvas.offcanvas-end{
      width: 75%;
   }
}
